.t1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  text-align: center;
  letter-spacing: -0.292683px;
}

.t2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  text-align: center;
  letter-spacing: -0.292683px;
}

.t3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;

  text-align: center;
  letter-spacing: -0.292683px;
}

.t4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;

  text-align: center;
  letter-spacing: -0.292683px;
}

.t5 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  text-align: center;
  letter-spacing: -0.292683px;
}

.t6 {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;

  text-align: center;
  letter-spacing: -0.292683px;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #a0a0a0;
  text-align: center;
  letter-spacing: -0.292683px;
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
